[defaults]
inventory = ./inventory
host_key_checking = False
interpreter_python = auto_silent
retry_files_enabled = False
forks = 1

stdout_callback = default
result_format = yaml
callback_result_format = yaml

display_ok_hosts = True
display_skipped_hosts = False

[ssh_connection]
pipelining = True
